<div class="homepage-footer">
    <span class="homepage-text49 text-2xlleading-8fontMedium">
      <span>Copyright Sportify 2023</span>
    </span>
    <div class="homepage-frame9">
      <div class="homepage-frame3">
        <a routerLink="/homepage">
          <span class="homepage-text51 text-2xlleading-8fontMedium">Home</span>
        </a>
      </div>
      <div class="homepage-frame31">
        <span class="homepage-text53 text-2xlleading-8fontMedium">
          <a routerLink="/profilepage">Profile</a>
        </span>
      </div>
      <div class="homepage-frame5">
        <span class="homepage-text55 text-2xlleading-8fontMedium">
          <a routerLink="/reservationspage">Reservations</a>
        </span>
      </div>        
      <div class="homepage-frame6">
        <span class="homepage-text57 text-2xlleading-8fontMedium">
          <span>Feedback</span>
        </span>
      </div>
    </div>
  </div>