<div class="footer-footer">
    <span class="footer-text49 text-2xlleading-8fontMedium">
      <span>Copyright Sportify 2023</span>
    </span>
    <div class="footer-frame9">
      <div class="footer-frame3">
        <a routerLink="/homepage">
          <span class="footer-text51 text-2xlleading-8fontMedium">Home</span>
        </a>
      </div>
      <div class="footer-frame31">
        <span class="footer-text53 text-2xlleading-8fontMedium">
          <a routerLink="/profilepage">Profile</a>
        </span>
      </div>
      <div class="footer-frame5">
        <span class="footer-text55 text-2xlleading-8fontMedium">
          <a routerLink="/reservationspage">Reservations</a>
        </span>
      </div>        
      <div class="footer-frame6">
        <span class="footer-text57 text-2xlleading-8fontMedium">
          <span>Feedback</span>
        </span>
      </div>
    </div>
  </div>