<div class="navbar-navbar">
    <div class="navbar-frame2">
      <a routerLink="/homepage">
        <img
          alt="sportifylogo1I201"
          src="/assets/playground_assets/sportifylogo1i201-pjvr-200h.png"
          class="navbar-sportifylogo1"
        />
      </a>      
      <div class="navbar-group1">
        <span class="navbar-text86 textBaseleading-6fontNormal">
          <span>e.g. football fields, tennis fields...</span>
        </span>
        <button class="navbar-buttons">
          <img
            alt="searchfillI201"
            src="/assets/playground_assets/searchfilli201-myt.svg"
            class="navbar-searchfill"
          />
          <span class="navbar-text88"><span>Search</span></span>
        </button>
      </div>
      <div class="navbar-frame7">
        <div class="navbar-frame32">
          <span class="navbar-text90 text-2xlleading-8fontExtrabold">
            <a routerLink="/homepage">Home</a>
          </span>
        </div>
        <div class="navbar-frame33">
          <span class="navbar-text92 text-2xlleading-8fontMedium">
            <a routerLink="/profilepage">Profile</a>
          </span>
        </div>
        <div class="navbar-frame51">
          <span class="navbar-text94 text-2xlleading-8fontMedium">
            <a routerLink="/reservationspage">Reservations</a>
          </span>
        </div>
      </div>
    </div>
  </div>