<div class="profilepage-container">
  <div class="profilepage-profilepage">
    <app-navbar></app-navbar>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/ac0d6e1d-645a-48ff-9cf5-c4d1c40ac154?org_if_sml=13930"
      alt="Rectangle742292"
      class="profilepage-rectangle74"
    />
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/74f3b22e-7a69-4dad-aef9-2b097ef41215?org_if_sml=1716"
      alt="Rectangle762293"
      class="profilepage-rectangle76"
    />
    <span class="profilepage-text10"><span>Country</span></span>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/33db115b-08cc-44f8-bc25-5bad54296e92?org_if_sml=1714"
      alt="Rectangle782414"
      class="profilepage-rectangle78"
    />
    <span class="profilepage-text12"><span>Password</span></span>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/bc2bfa03-f347-4238-9b91-971a2132ba65?org_if_sml=11659"
      alt="Rectangle752292"
      class="profilepage-rectangle75"
    />
    <span class="profilepage-text14"><span>About me</span></span>
    <img
      src="/assets/playground_assets/unsplashjmurdhtm7ng2282-kv3n.svg"
      alt="unsplashjmURdhtm7Ng2282"
      class="profilepage-unsplashjm--rdhtm-ng"
    />
    <button class="profilepage-buttons1">
      <span class="profilepage-text16"><span>Change picture</span></span>
    </button>
    <div class="profilepage-group12">
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/78a20604-5bbc-4a9a-b072-c7ffcc537225?org_if_sml=1714"
        alt="Rectangle382282"
        class="profilepage-rectangle38"
      />
      <span class="profilepage-text18"><span>Name</span></span>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/24ce8e19-5078-4207-b848-ae092f6f17f6?org_if_sml=1714"
        alt="Rectangle732292"
        class="profilepage-rectangle73"
      />
      <span class="profilepage-text20"><span>Email</span></span>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/e5a88e16-024c-4149-903c-cee5608aadaa?org_if_sml=1714"
        alt="Rectangle722292"
        class="profilepage-rectangle72"
      />
      <span class="profilepage-text22"><span>Username</span></span>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/5c6cf00e-6d27-4367-a09f-5b0bde6f35e6?org_if_sml=1714"
        alt="Rectangle712292"
        class="profilepage-rectangle71"
      />
      <span class="profilepage-text24"><span>Surname</span></span>
    </div>
    <span class="profilepage-text26"><span>Profile</span></span>
    <app-footer style="--footer-top: 1086px;"></app-footer>
    <div class="profilepage-group8">
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/1b4041a4-be95-47cc-958c-8fd5a938cf61?org_if_sml=1739"
        alt="Rectangle502292"
        class="profilepage-rectangle50"
      />
      <span class="profilepage-text38"><span>Birthdate</span></span>
      <div class="profilepage-group6">
        <div class="profilepage-riarrowdownsfill">
          <div class="profilepage-group">
            <img
              src="/assets/playground_assets/vectori229-31mb.svg"
              alt="VectorI229"
              class="profilepage-vector"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="profilepage-frame14">
      <span class="profilepage-text40"><span>Preffered sports</span></span>
    </div>
    <div class="profilepage-group15">
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/80b967b1-aae5-4d1a-8825-6736f983237b?org_if_sml=1739"
        alt="Rectangle502414"
        class="profilepage-rectangle501"
      />
      <span class="profilepage-text42"><span>Gender</span></span>
      <div class="profilepage-group61">
        <div class="profilepage-riarrowdownsfill1">
          <div class="profilepage-group1">
            <img
              src="/assets/playground_assets/vectori241-7rm5.svg"
              alt="VectorI241"
              class="profilepage-vector1"
            />
          </div>
        </div>
      </div>
    </div>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/e625381e-7529-49c5-aa14-721bbf3c8c13?org_if_sml=1716"
      alt="Rectangle772293"
      class="profilepage-rectangle77"
    />
    <span class="profilepage-text44"><span>City</span></span>
    <div class="profilepage-prefsport">
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/8ba125a8-4f1c-426b-abc5-ade843378819?org_if_sml=159064"
        alt="image2653"
        class="profilepage-image"
      />
      <div class="profilepage-data">
        <div class="profilepage-titlerow">
          <span class="profilepage-text46 HeaderH41"><span>Tennis</span></span>
          <button class="profilepage-cancelbutton">
            <img
              src="/assets/playground_assets/framei274-30sf.svg"
              alt="FrameI274"
              class="profilepage-frame"
            />
          </button>
        </div>
      </div>
    </div>
    <div class="profilepage-prefsport1">
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/45a8685e-df9b-419c-b0b2-271f8f1e2e73?org_if_sml=180913"
        alt="image2653"
        class="profilepage-image1"
      />
      <div class="profilepage-data1">
        <div class="profilepage-titlerow1">
          <span class="profilepage-text48 HeaderH41">
            <span>Football</span>
          </span>
          <button class="profilepage-cancelbutton1">
            <img
              src="/assets/playground_assets/framei274-rm8.svg"
              alt="FrameI274"
              class="profilepage-frame1"
            />
          </button>
        </div>
      </div>
    </div>
    <button class="profilepage-buttons2">
      <span class="profilepage-text50"><span>Edit</span></span>
    </button>
    <div class="profilepage-group62">
      <div class="profilepage-riarrowdownsfill2">
        <div class="profilepage-group2">
          <img
            src="/assets/playground_assets/vectori274-ar69.svg"
            alt="VectorI274"
            class="profilepage-vector2"
          />
        </div>
      </div>
    </div>
  </div>
</div>
