<div class="profilepage-container">
  <div class="profilepage-profilepage">
    <app-navbar
      style="
        --navbar-hometext-color: #ffff;
        --navbar-hometext-font: normal;
        --navbar-profiletext-color: #fc5574;
        --navbar-profiletext-font: normal;
        --navbar-reservationstext-color: #ffff;
        --navbar-reservationstext-font: normal;
      "
    ></app-navbar>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/ac0d6e1d-645a-48ff-9cf5-c4d1c40ac154?org_if_sml=13930"
      alt="Rectangle742292"
      class="profilepage-rectangle74"
    />
    <div class="city-country">
      <div class="input-container-right">
        <input
          type="text"
          id="country"
          class="profilepage-input"
          placeholder="Country"
        />
      </div>
      <div class="input-container-right">
        <input
          type="text"
          id="city"
          class="profilepage-input"
          placeholder="City"
        />
      </div>
    </div>
    <span class="profilepage-text14"><span>About me</span></span>
    <div class="profilepage-input-large">
      <textarea id="about" class="profilepage-input" rows="4" cols="50">
      </textarea>
    </div>
    <img
      src="/assets/playground_assets/unsplashjmurdhtm7ng2282-kv3n.svg"
      alt="unsplashjmURdhtm7Ng2282"
      class="profilepage-unsplashjm--rdhtm-ng"
    />
    <button class="profilepage-buttons1">
      <span class="profilepage-text16"><span>Change picture</span></span>
    </button>
    <div class="profilepage-group12">
      <label for="name" class="input-label">Name</label>
      <div class="profilepage-input-container">
        <input type="text" id="name" class="profilepage-input" />
      </div>
      <label for="surname" class="input-label">Surname</label>
      <div class="profilepage-input-container">
        <input type="text" id="surname" class="profilepage-input" />
      </div>
      <label for="username" class="input-label">Username</label>
      <div class="profilepage-input-container">
        <input type="text" id="username" class="profilepage-input" />
      </div>
      <label for="email" class="input-label">Email</label>
      <div class="profilepage-input-container">
        <input type="text" id="email" class="profilepage-input" />
      </div>
      <label for="password" class="input-label">Password</label>
      <div class="profilepage-input-container">
        <input type="password" id="password" class="profilepage-input" />
      </div>
    </div>
    <span class="profilepage-text26"><span>Profile</span></span>
    <app-footer></app-footer>
    <div class="birthdate-gender">
      <div class="profilepage-group8">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/1b4041a4-be95-47cc-958c-8fd5a938cf61?org_if_sml=1739"
          alt="Rectangle502292"
          class="profilepage-rectangle50"
        />
        <span class="profilepage-text38"><span>Birthdate</span></span>
        <div class="profilepage-group6">
          <div class="profilepage-riarrowdownsfill">
            <div class="profilepage-group">
              <img
                src="/assets/playground_assets/vectori229-31mb.svg"
                alt="VectorI229"
                class="profilepage-vector"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="profilepage-group15">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/80b967b1-aae5-4d1a-8825-6736f983237b?org_if_sml=1739"
          alt="Rectangle502414"
          class="profilepage-rectangle501"
        />
        <span class="profilepage-text42"><span>Gender</span></span>
        <div class="profilepage-group61">
          <div class="profilepage-riarrowdownsfill1">
            <div class="profilepage-group1">
              <img
                src="/assets/playground_assets/vectori241-7rm5.svg"
                alt="VectorI241"
                class="profilepage-vector1"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profilepage-prefferedsports">
      <div class="profilepage-frame14">
        <span class="profilepage-text40"><span>Preffered sports</span></span>
      </div>
      <div class="profilepage-group61">
        <div class="profilepage-riarrowdownsfill1">
          <div class="profilepage-group1">
            <img
              src="/assets/playground_assets/vectori241-7rm5.svg"
              alt="VectorI241"
              class="profilepage-vector1"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="sports-container">
      <div class="profilepage-prefsport">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/8ba125a8-4f1c-426b-abc5-ade843378819?org_if_sml=159064"
          alt="image2653"
          class="profilepage-image"
        />
        <div class="profilepage-data">
          <div class="profilepage-titlerow">
            <span class="profilepage-text46 HeaderH41"
              ><span>Tennis</span></span
            >
          </div>
        </div>
      </div>
      <div class="profilepage-prefsport1">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/45a8685e-df9b-419c-b0b2-271f8f1e2e73?org_if_sml=180913"
          alt="image2653"
          class="profilepage-image1"
        />
        <div class="profilepage-data1">
          <div class="profilepage-titlerow1">
            <span class="profilepage-text48 HeaderH41">
              <span>Football</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <button class="profilepage-buttons2">
      <span class="profilepage-text50"><span>Edit</span></span>
    </button>
  </div>
</div>
