<div class="homepage-cardfullcard1">
    <img [alt]="imageAlt" [src]="imageSrc" class="homepage-image1" />
    <div class="homepage-data1">
      <div class="homepage-titlerow1">
        <span class="homepage-text35 HeaderH4">
          <span class="homepage-text36">
            {{ titlePrefix }}
            <span [innerHTML]="raw1w7e"></span>
          </span>
          <span>{{ location }}</span>
        </span>
        <span class="homepage-text38 HeaderH4"><span>{{ price }}</span></span>
      </div>
      <span class="homepage-text40 BodyDefault">
        <span>{{ description }}</span>
      </span>
    </div>
  </div>
  
