<div class="comment-usercomments">
    <img
      alt="avatar2012"
      src="/assets/playground_assets/avatar2012-1758-200h.png"
      class="comment-avatar"
    />
    <div class="comment-text59">
      <div class="comment-userdata">
        <span class="comment-text60 HeaderH4"><span>John Doe</span></span>
        <span class="comment-text62 BodyLarge">
          <span class="comment-text63">
            Sarajevo, BiH
            <span [innerHTML]="rawynae"></span>
          </span>
          <span class="comment-text64">|</span>
          <span>November 2022</span>
        </span>
        <div class="comment-ratingstarrow">
          <div class="comment-frame24starfilled">
            <img
              alt="Star12013"
              src="/assets/playground_assets/star12013-1dbd.svg"
              class="comment-star1"
            />
          </div>
          <div class="comment-frame24starfilled01">
            <img
              alt="Star12013"
              src="/assets/playground_assets/star12013-e7fe.svg"
              class="comment-star101"
            />
          </div>
          <div class="comment-frame24starfilled02">
            <img
              alt="Star12013"
              src="/assets/playground_assets/star12013-sae.svg"
              class="comment-star102"
            />
          </div>
          <div class="comment-frame24starfilled03">
            <img
              alt="Star12013"
              src="/assets/playground_assets/star12013-8rnh.svg"
              class="comment-star103"
            />
          </div>
          <div class="comment-frame24starfilled04">
            <img
              alt="Star12013"
              src="/assets/playground_assets/star12013-p0bii.svg"
              class="comment-star104"
            />
          </div>
        </div>
      </div>
      <span class="comment-text66 BodyLarge">
        <span>
          What a great experience using Sportify! I reserved many fields
          through Sportify and never had any issues.
        </span>
      </span>
    </div>
  </div>
