<div class="homepage-container">
  <div class="homepage-homepage">
    <img
      alt="Rectangle601561"
      src="/assets/playground_assets/rectangle601561-jh4b-500h.png"
      class="homepage-rectangle60"
    />
    <a [routerLink]="'/footballfields'">
      <app-sport-category
        [alt]="'footballfillI124'"
        [imageSrc]="'/assets/playground_assets/footballfilli124-lda.svg'"
        [title]="'Football'"
        [courtCount]="'10 fields'"
        style="--category-left: 79px;"
      ></app-sport-category>
    </a>    
   <app-sport-category
      [alt]="'basketballfillI128'"
      [imageSrc]="'/assets/playground_assets/basketballfilli128-zmkq.svg'"
      [title]="'Basketball'"
      [courtCount]="'8 fields'"
      style="--category-left: 297px;"
   ></app-sport-category>

    <app-sport-category
      [alt]="'pingpongfillI128'"
      [imageSrc]="'/assets/playground_assets/pingpongfilli128-6604.svg'"
      [title]="'Table tennis'"
      [courtCount]="'5 places'"
      style="--category-left: 513px;"
></app-sport-category>
    <app-sport-category
      [alt]="'billiardsfillI128'"
      [imageSrc]="'/assets/playground_assets/billiardsfilli128-7b7d.svg'"
      [title]="'Billiards'"
      [courtCount]="'6 places'"
      style="--category-left: 731px;"
></app-sport-category>
<app-sport-category
      [alt]="'runlineI128'"
      [imageSrc]="'/assets/playground_assets/runlinei128-eyo.svg'"
      [title]="'Gym'"
      [courtCount]="'10 places'"
      style="--category-left: 949px;"
></app-sport-category>
<app-sport-category
      [alt]="'more2fillI128'"
      [imageSrc]="'/assets/playground_assets/more2filli128-tbem.svg'"
      [title]="'Other'"
      [courtCount]="'20 places'"
      style="--category-left: 1165px;"
></app-sport-category>
    <span class="homepage-text24"><span>Sports</span></span>
    <div class="homepage-frame8">
      <span class="homepage-text26"><span>Trending</span></span>
      <a routerLink="/fieldpage" class="homepage-cardfullcard">
        <img
          alt="image1914"
          src="/assets/playground_assets/image1914-94hq-200h.png"
          class="homepage-image"
        />
        <div class="homepage-data">
          <div class="homepage-titlerow">
            <span class="homepage-text28 HeaderH4">
              <span class="homepage-text29">
                FIS football field,
                <span [innerHTML]="rawm99n"></span>
              </span>
              <span>Sarajevo</span>
            </span>
            <span class="homepage-text31 HeaderH4"><span>60 BAM</span></span>
          </div>
          <span class="homepage-text33 BodyDefault">
            <span>
              Best place for after work football with friends and colleagues
            </span>
          </span>
        </div>
      </a>      
      <div class="homepage-cardfullcard1">
        <img
          alt="image1914"
          src="/assets/playground_assets/image1914-mcaf-200h.png"
          class="homepage-image1"
        />
        <div class="homepage-data1">
          <div class="homepage-titlerow1">
            <span class="homepage-text35 HeaderH4">
              <span class="homepage-text36">
                Una tennis courts,
                <span [innerHTML]="raw1w7e"></span>
              </span>
              <span>Sarajevo</span>
            </span>
            <span class="homepage-text38 HeaderH4"><span>35 BAM</span></span>
          </div>
          <span class="homepage-text40 BodyDefault">
            <span>
              Best place for after work tennis with friends and colleagues
            </span>
          </span>
        </div>
      </div>
      <div class="homepage-cardfullcard2">
        <img
          alt="image1914"
          src="/assets/playground_assets/image1914-qxrp-200h.png"
          class="homepage-image2"
        />
        <div class="homepage-data2">
          <div class="homepage-titlerow2">
            <span class="homepage-text42 HeaderH4">
              <span class="homepage-text43">
                Basketball court Grbavica,
                <span [innerHTML]="raw56qa"></span>
              </span>
              <span>Sarajevo</span>
            </span>
            <span class="homepage-text45 HeaderH4"><span>55 BAM</span></span>
          </div>
          <span class="homepage-text47 BodyDefault">
            <span>
              Best place for after work basketball game with friends and
              colleagues
            </span>
          </span>
        </div>
      </div>
    </div>
    <app-footer style="--footer-top: 2301px;"></app-footer>
    <app-comment style="--comment-top: 2035px; --comment-left: 80px;"></app-comment>
    <app-comment style="--comment-top: 2035px; --comment-left: 515.6666259765625px;"></app-comment>
    <app-comment style="--comment-top: 2035px; --comment-left: 951.333251953125px;"></app-comment>
    <app-navbar></app-navbar>
  </div>
</div>
