<div class="homepage-container">
  <div class="homepage-homepage">
    <img
      alt="Rectangle601561"
      src="/assets/playground_assets/rectangle601561-jh4b-500h.png"
      class="homepage-rectangle60"
    />
    <a routerLink="/footballfields" class="homepage-sportcategories">
      <div class="homepage-frame1">
        <div class="homepage-rialarmfill"></div>
        <img
          alt="footballfillI124"
          src="/assets/playground_assets/footballfilli124-lda.svg"
          class="homepage-footballfill"
        />
      </div>
      <span class="homepage-text">Football</span>
      <span class="homepage-text02">10 fields</span>
    </a>    
    <div class="homepage-sportcategories1">
      <div class="homepage-frame11">
        <div class="homepage-rialarmfill1"></div>
        <img
          alt="basketballfillI128"
          src="/assets/playground_assets/basketballfilli128-zmkq.svg"
          class="homepage-basketballfill"
        />
      </div>
      <span class="homepage-text04"><span>Basketball</span></span>
      <span class="homepage-text06"><span>8 courts</span></span>
    </div>
    <div class="homepage-sportcategories2">
      <div class="homepage-frame12">
        <div class="homepage-rialarmfill2"></div>
        <img
          alt="pingpongfillI128"
          src="/assets/playground_assets/pingpongfilli128-6604.svg"
          class="homepage-pingpongfill"
        />
      </div>
      <span class="homepage-text08"><span>Table tennis</span></span>
      <span class="homepage-text10"><span>5 places</span></span>
    </div>
    <div class="homepage-sportcategories3">
      <div class="homepage-frame13">
        <div class="homepage-rialarmfill3"></div>
        <img
          alt="billiardsfillI128"
          src="/assets/playground_assets/billiardsfilli128-7b7d.svg"
          class="homepage-billiardsfill"
        />
      </div>
      <span class="homepage-text12"><span>Billiards</span></span>
      <span class="homepage-text14"><span>6 places</span></span>
    </div>
    <div class="homepage-sportcategories4">
      <div class="homepage-frame14">
        <div class="homepage-rialarmfill4"></div>
        <img
          alt="runlineI128"
          src="/assets/playground_assets/runlinei128-eyo.svg"
          class="homepage-runline"
        />
      </div>
      <span class="homepage-text16"><span>Gym</span></span>
      <span class="homepage-text18"><span>10 places</span></span>
    </div>
    <div class="homepage-sportcategories5">
      <div class="homepage-frame15">
        <div class="homepage-rialarmfill5"></div>
        <img
          alt="more2fillI128"
          src="/assets/playground_assets/more2filli128-tbem.svg"
          class="homepage-more2fill"
        />
      </div>
      <span class="homepage-text20"><span>Other</span></span>
      <span class="homepage-text22"><span>20 places</span></span>
    </div>
    <span class="homepage-text24"><span>Sports</span></span>
    <div class="homepage-frame8">
      <span class="homepage-text26"><span>Trending</span></span>
      <a routerLink="/fieldpage" class="homepage-cardfullcard">
        <img
          alt="image1914"
          src="/assets/playground_assets/image1914-94hq-200h.png"
          class="homepage-image"
        />
        <div class="homepage-data">
          <div class="homepage-titlerow">
            <span class="homepage-text28 HeaderH4">
              <span class="homepage-text29">
                FIS football field,
                <span [innerHTML]="rawm99n"></span>
              </span>
              <span>Sarajevo</span>
            </span>
            <span class="homepage-text31 HeaderH4"><span>60 BAM</span></span>
          </div>
          <span class="homepage-text33 BodyDefault">
            <span>
              Best place for after work football with friends and colleagues
            </span>
          </span>
        </div>
      </a>      
      <div class="homepage-cardfullcard1">
        <img
          alt="image1914"
          src="/assets/playground_assets/image1914-mcaf-200h.png"
          class="homepage-image1"
        />
        <div class="homepage-data1">
          <div class="homepage-titlerow1">
            <span class="homepage-text35 HeaderH4">
              <span class="homepage-text36">
                Una tennis courts,
                <span [innerHTML]="raw1w7e"></span>
              </span>
              <span>Sarajevo</span>
            </span>
            <span class="homepage-text38 HeaderH4"><span>35 BAM</span></span>
          </div>
          <span class="homepage-text40 BodyDefault">
            <span>
              Best place for after work tennis with friends and colleagues
            </span>
          </span>
        </div>
      </div>
      <div class="homepage-cardfullcard2">
        <img
          alt="image1914"
          src="/assets/playground_assets/image1914-qxrp-200h.png"
          class="homepage-image2"
        />
        <div class="homepage-data2">
          <div class="homepage-titlerow2">
            <span class="homepage-text42 HeaderH4">
              <span class="homepage-text43">
                Basketball court Grbavica,
                <span [innerHTML]="raw56qa"></span>
              </span>
              <span>Sarajevo</span>
            </span>
            <span class="homepage-text45 HeaderH4"><span>55 BAM</span></span>
          </div>
          <span class="homepage-text47 BodyDefault">
            <span>
              Best place for after work basketball game with friends and
              colleagues
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="homepage-footer">
      <span class="homepage-text49 text-2xlleading-8fontMedium">
        <span>Copyright Sportify 2023</span>
      </span>
      <div class="homepage-frame9">
        <div class="homepage-frame3">
          <a routerLink="/homepage">
            <span class="homepage-text51 text-2xlleading-8fontMedium">Home</span>
          </a>
        </div>
        <div class="homepage-frame31">
          <span class="homepage-text53 text-2xlleading-8fontMedium">
            <a routerLink="/profilepage">Profile</a>
          </span>
        </div>
        <div class="homepage-frame5">
          <span class="homepage-text55 text-2xlleading-8fontMedium">
            <a routerLink="/reservationspage">Reservations</a>
          </span>
        </div>        
        <div class="homepage-frame6">
          <span class="homepage-text57 text-2xlleading-8fontMedium">
            <span>Feedback</span>
          </span>
        </div>
      </div>
    </div>
    <div class="homepage-usercomments">
      <img
        alt="avatar2012"
        src="/assets/playground_assets/avatar2012-1758-200h.png"
        class="homepage-avatar"
      />
      <div class="homepage-text59">
        <div class="homepage-userdata">
          <span class="homepage-text60 HeaderH4"><span>John Doe</span></span>
          <span class="homepage-text62 BodyLarge">
            <span class="homepage-text63">
              Sarajevo, BiH
              <span [innerHTML]="rawynae"></span>
            </span>
            <span class="homepage-text64">|</span>
            <span>November 2022</span>
          </span>
          <div class="homepage-ratingstarrow">
            <div class="homepage-frame24starfilled">
              <img
                alt="Star12013"
                src="/assets/playground_assets/star12013-1dbd.svg"
                class="homepage-star1"
              />
            </div>
            <div class="homepage-frame24starfilled01">
              <img
                alt="Star12013"
                src="/assets/playground_assets/star12013-e7fe.svg"
                class="homepage-star101"
              />
            </div>
            <div class="homepage-frame24starfilled02">
              <img
                alt="Star12013"
                src="/assets/playground_assets/star12013-sae.svg"
                class="homepage-star102"
              />
            </div>
            <div class="homepage-frame24starfilled03">
              <img
                alt="Star12013"
                src="/assets/playground_assets/star12013-8rnh.svg"
                class="homepage-star103"
              />
            </div>
            <div class="homepage-frame24starfilled04">
              <img
                alt="Star12013"
                src="/assets/playground_assets/star12013-p0bii.svg"
                class="homepage-star104"
              />
            </div>
          </div>
        </div>
        <span class="homepage-text66 BodyLarge">
          <span>
            What a great experience using Sportify! I reserved many fields
            through Sportify and never had any issues.
          </span>
        </span>
      </div>
    </div>
    <div class="homepage-usercomments1">
      <img
        alt="avatar2013"
        src="/assets/playground_assets/avatar2013-ex2j-200h.png"
        class="homepage-avatar1"
      />
      <div class="homepage-text68">
        <div class="homepage-userdata1">
          <span class="homepage-text69 HeaderH4"><span>John Doe</span></span>
          <span class="homepage-text71 BodyLarge">
            <span class="homepage-text72">
              Sarajevo, BiH
              <span [innerHTML]="raw00b7"></span>
            </span>
            <span class="homepage-text73">|</span>
            <span>November 2022</span>
          </span>
          <div class="homepage-ratingstarrow1">
            <div class="homepage-frame24starfilled05">
              <img
                alt="Star12013"
                src="/assets/playground_assets/star12013-i2fq.svg"
                class="homepage-star105"
              />
            </div>
            <div class="homepage-frame24starfilled06">
              <img
                alt="Star12013"
                src="/assets/playground_assets/star12013-sc2i.svg"
                class="homepage-star106"
              />
            </div>
            <div class="homepage-frame24starfilled07">
              <img
                alt="Star12013"
                src="/assets/playground_assets/star12013-4djm.svg"
                class="homepage-star107"
              />
            </div>
            <div class="homepage-frame24starfilled08">
              <img
                alt="Star12013"
                src="/assets/playground_assets/star12013-xz9.svg"
                class="homepage-star108"
              />
            </div>
            <div class="homepage-frame24starfilled09">
              <img
                alt="Star12013"
                src="/assets/playground_assets/star12013-3wq.svg"
                class="homepage-star109"
              />
            </div>
          </div>
        </div>
        <span class="homepage-text75 BodyLarge">
          <span>
            What a great experience using Sportify! I reserved many fields
            through Sportify and never had any issues.
          </span>
        </span>
      </div>
    </div>
    <div class="homepage-usercomments2">
      <img
        alt="avatar2013"
        src="/assets/playground_assets/avatar2013-rmlt-200h.png"
        class="homepage-avatar2"
      />
      <div class="homepage-text77">
        <div class="homepage-userdata2">
          <span class="homepage-text78 HeaderH4"><span>John Doe</span></span>
          <span class="homepage-text80 BodyLarge">
            <span class="homepage-text81">
              Sarajevo, BiH
              <span [innerHTML]="rawctqt"></span>
            </span>
            <span class="homepage-text82">|</span>
            <span>November 2022</span>
          </span>
          <div class="homepage-ratingstarrow2">
            <div class="homepage-frame24starfilled10">
              <img
                alt="Star12013"
                src="/assets/playground_assets/star12013-oge.svg"
                class="homepage-star110"
              />
            </div>
            <div class="homepage-frame24starfilled11">
              <img
                alt="Star12013"
                src="/assets/playground_assets/star12013-cqr.svg"
                class="homepage-star111"
              />
            </div>
            <div class="homepage-frame24starfilled12">
              <img
                alt="Star12013"
                src="/assets/playground_assets/star12013-57yb.svg"
                class="homepage-star112"
              />
            </div>
            <div class="homepage-frame24starfilled13">
              <img
                alt="Star12013"
                src="/assets/playground_assets/star12013-d11v.svg"
                class="homepage-star113"
              />
            </div>
            <div class="homepage-frame24starfilled14">
              <img
                alt="Star12013"
                src="/assets/playground_assets/star12013-ken.svg"
                class="homepage-star114"
              />
            </div>
          </div>
        </div>
        <span class="homepage-text84 BodyLarge">
          <span>
            What a great experience using Sportify! I reserved many fields
            through Sportify and never had any issues.
          </span>
        </span>
      </div>
    </div>
    <div class="homepage-navbar">
      <div class="homepage-frame2">
        <img
          alt="sportifylogo1I201"
          src="/assets/playground_assets/sportifylogo1i201-pjvr-200h.png"
          class="homepage-sportifylogo1"
        />
        <div class="homepage-group1">
          <span class="homepage-text86 textBaseleading-6fontNormal">
            <span>e.g. football fields, tennis fields...</span>
          </span>
          <button class="homepage-buttons">
            <img
              alt="searchfillI201"
              src="/assets/playground_assets/searchfilli201-myt.svg"
              class="homepage-searchfill"
            />
            <span class="homepage-text88"><span>Search</span></span>
          </button>
        </div>
        <div class="homepage-frame7">
          <div class="homepage-frame32">
            <span class="homepage-text90 text-2xlleading-8fontExtrabold">
              <span>Home</span>
            </span>
          </div>
          <div class="homepage-frame33">
            <span class="homepage-text92 text-2xlleading-8fontMedium">
              <a routerLink="/profilepage">Profile</a>
            </span>
          </div>          
          <div class="homepage-frame51">
            <span class="homepage-text94 text-2xlleading-8fontMedium">
              <a routerLink="/reservationspage">Reservations</a>
            </span>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>
