<div class="homepage-container">
  <div class="homepage-homepage">
    <img
      alt="Rectangle601561"
      src="/assets/playground_assets/rectangle601561-jh4b-500h.png"
      class="homepage-rectangle60"
    />
    <a routerLink="/footballfields" class="homepage-sportcategories">
      <div class="homepage-frame1">
        <div class="homepage-rialarmfill"></div>
        <img
          alt="footballfillI124"
          src="/assets/playground_assets/footballfilli124-lda.svg"
          class="homepage-footballfill"
        />
      </div>
      <span class="homepage-text">Football</span>
      <span class="homepage-text02">10 fields</span>
    </a>    
    <div class="homepage-sportcategories1">
      <div class="homepage-frame11">
        <div class="homepage-rialarmfill1"></div>
        <img
          alt="basketballfillI128"
          src="/assets/playground_assets/basketballfilli128-zmkq.svg"
          class="homepage-basketballfill"
        />
      </div>
      <span class="homepage-text04"><span>Basketball</span></span>
      <span class="homepage-text06"><span>8 courts</span></span>
    </div>
    <div class="homepage-sportcategories2">
      <div class="homepage-frame12">
        <div class="homepage-rialarmfill2"></div>
        <img
          alt="pingpongfillI128"
          src="/assets/playground_assets/pingpongfilli128-6604.svg"
          class="homepage-pingpongfill"
        />
      </div>
      <span class="homepage-text08"><span>Table tennis</span></span>
      <span class="homepage-text10"><span>5 places</span></span>
    </div>
    <div class="homepage-sportcategories3">
      <div class="homepage-frame13">
        <div class="homepage-rialarmfill3"></div>
        <img
          alt="billiardsfillI128"
          src="/assets/playground_assets/billiardsfilli128-7b7d.svg"
          class="homepage-billiardsfill"
        />
      </div>
      <span class="homepage-text12"><span>Billiards</span></span>
      <span class="homepage-text14"><span>6 places</span></span>
    </div>
    <div class="homepage-sportcategories4">
      <div class="homepage-frame14">
        <div class="homepage-rialarmfill4"></div>
        <img
          alt="runlineI128"
          src="/assets/playground_assets/runlinei128-eyo.svg"
          class="homepage-runline"
        />
      </div>
      <span class="homepage-text16"><span>Gym</span></span>
      <span class="homepage-text18"><span>10 places</span></span>
    </div>
    <div class="homepage-sportcategories5">
      <div class="homepage-frame15">
        <div class="homepage-rialarmfill5"></div>
        <img
          alt="more2fillI128"
          src="/assets/playground_assets/more2filli128-tbem.svg"
          class="homepage-more2fill"
        />
      </div>
      <span class="homepage-text20"><span>Other</span></span>
      <span class="homepage-text22"><span>20 places</span></span>
    </div>
    <span class="homepage-text24"><span>Sports</span></span>
    <div class="homepage-frame8">
      <span class="homepage-text26"><span>Trending</span></span>
      <a routerLink="/fieldpage" class="homepage-cardfullcard">
        <img
          alt="image1914"
          src="/assets/playground_assets/image1914-94hq-200h.png"
          class="homepage-image"
        />
        <div class="homepage-data">
          <div class="homepage-titlerow">
            <span class="homepage-text28 HeaderH4">
              <span class="homepage-text29">
                FIS football field,
                <span [innerHTML]="rawm99n"></span>
              </span>
              <span>Sarajevo</span>
            </span>
            <span class="homepage-text31 HeaderH4"><span>60 BAM</span></span>
          </div>
          <span class="homepage-text33 BodyDefault">
            <span>
              Best place for after work football with friends and colleagues
            </span>
          </span>
        </div>
      </a>      
      <div class="homepage-cardfullcard1">
        <img
          alt="image1914"
          src="/assets/playground_assets/image1914-mcaf-200h.png"
          class="homepage-image1"
        />
        <div class="homepage-data1">
          <div class="homepage-titlerow1">
            <span class="homepage-text35 HeaderH4">
              <span class="homepage-text36">
                Una tennis courts,
                <span [innerHTML]="raw1w7e"></span>
              </span>
              <span>Sarajevo</span>
            </span>
            <span class="homepage-text38 HeaderH4"><span>35 BAM</span></span>
          </div>
          <span class="homepage-text40 BodyDefault">
            <span>
              Best place for after work tennis with friends and colleagues
            </span>
          </span>
        </div>
      </div>
      <div class="homepage-cardfullcard2">
        <img
          alt="image1914"
          src="/assets/playground_assets/image1914-qxrp-200h.png"
          class="homepage-image2"
        />
        <div class="homepage-data2">
          <div class="homepage-titlerow2">
            <span class="homepage-text42 HeaderH4">
              <span class="homepage-text43">
                Basketball court Grbavica,
                <span [innerHTML]="raw56qa"></span>
              </span>
              <span>Sarajevo</span>
            </span>
            <span class="homepage-text45 HeaderH4"><span>55 BAM</span></span>
          </div>
          <span class="homepage-text47 BodyDefault">
            <span>
              Best place for after work basketball game with friends and
              colleagues
            </span>
          </span>
        </div>
      </div>
    </div>
    <app-footer style="--footer-top: 2301px;"></app-footer>
    <app-comment style="--comment-top: 2035px; --comment-left: 80px;"></app-comment>
    <app-comment style="--comment-top: 2035px; --comment-left: 515.6666259765625px;"></app-comment>
    <app-comment style="--comment-top: 2035px; --comment-left: 951.333251953125px;"></app-comment>
    <app-navbar></app-navbar>
  </div>
</div>
