<div class="reservationspage-container">
  <div class="reservationspage-reservationspage">
    <div class="reservationspage-reservationstable">
      <div class="reservationspage-table">
        <div class="reservationspage-tablerow">
          <div class="reservationspage-logo">
            <img
              src="/assets/playground_assets/image252162-lnmi-200h.png"
              alt="image252162"
              class="reservationspage-image25"
            />
          </div>
          <div class="reservationspage-data">
            <div class="reservationspage-datarowprimary">
              <span class="reservationspage-text BodyDefault1">
                <span>12/3/2023</span>
              </span>
              <span class="reservationspage-text02 BodyDefault1">
                <span>9:00AM - 10:15AM</span>
              </span>
              <span class="reservationspage-text04 BodyDefault1">
                <span>Status</span>
              </span>
              <span class="reservationspage-text06 BodyDefault1">
                <span>Cost</span>
              </span>
            </div>
            <div class="reservationspage-datarowsecondary">
              <span class="reservationspage-text08 BodyDefault1">
                <span>FIS football field</span>
              </span>
              <span class="reservationspage-text10 BodyDefault1">
                <span>value</span>
              </span>
              <span class="reservationspage-text12 BodyDefault1">
                <span>Done</span>
              </span>
              <span class="reservationspage-text14 BodyDefault1">
                <span>60 BAM</span>
              </span>
            </div>
          </div>
          <button class="reservationspage-cancelbutton">
            <img
              src="/assets/playground_assets/framei236-0pg.svg"
              alt="FrameI236"
              class="reservationspage-frame"
            />
          </button>
        </div>
        <div class="reservationspage-datarowdivider">
          <img
            src="/assets/playground_assets/divider2363-iaej6-200h.png"
            alt="divider2363"
            class="reservationspage-divider"
          />
        </div>
        <div class="reservationspage-tablerow1">
          <div class="reservationspage-logo1">
            <img
              src="/assets/playground_assets/image252361-hvrm-200h.png"
              alt="image252361"
              class="reservationspage-image251"
            />
          </div>
          <div class="reservationspage-data1">
            <div class="reservationspage-datarowprimary1">
              <span class="reservationspage-text16 BodyDefault1">
                <span>14/4/2023</span>
              </span>
              <span class="reservationspage-text18 BodyDefault1">
                <span>18:00 PM - 19:15 PM</span>
              </span>
              <span class="reservationspage-text20 BodyDefault1">
                <span>Status</span>
              </span>
              <span class="reservationspage-text22 BodyDefault1">
                <span>Cost</span>
              </span>
            </div>
            <div class="reservationspage-datarowsecondary1">
              <span class="reservationspage-text24 BodyDefault1">
                <span>Una tennis courts</span>
              </span>
              <span class="reservationspage-text26 BodyDefault1">
                <span>value</span>
              </span>
              <span class="reservationspage-text28 BodyDefault1">
                <span>Done</span>
              </span>
              <span class="reservationspage-text30 BodyDefault1">
                <span>40 BAM</span>
              </span>
            </div>
          </div>
          <button class="reservationspage-cancelbutton1">
            <img
              src="/assets/playground_assets/framei236-10s3.svg"
              alt="FrameI236"
              class="reservationspage-frame1"
            />
          </button>
        </div>
        <div class="reservationspage-datarowdivider1">
          <img
            src="/assets/playground_assets/divider2363-ue0c-200h.png"
            alt="divider2363"
            class="reservationspage-divider1"
          />
        </div>
        <div class="reservationspage-tablerow2">
          <div class="reservationspage-logo2">
            <img
              src="/assets/playground_assets/image252361-pk0q-200h.png"
              alt="image252361"
              class="reservationspage-image252"
            />
          </div>
          <div class="reservationspage-data2">
            <div class="reservationspage-datarowprimary2">
              <span class="reservationspage-text32 BodyDefault1">
                <span>10/5/2023</span>
              </span>
              <span class="reservationspage-text34 BodyDefault1">
                <span>20:00 PM - 21:30 PM</span>
              </span>
              <span class="reservationspage-text36 BodyDefault1">
                <span>Status</span>
              </span>
              <span class="reservationspage-text38 BodyDefault1">
                <span>Cost</span>
              </span>
            </div>
            <div class="reservationspage-datarowsecondary2">
              <span class="reservationspage-text40 BodyDefault1">
                <span>FIS football field</span>
              </span>
              <span class="reservationspage-text42 BodyDefault1">
                <span>value</span>
              </span>
              <span class="reservationspage-text44 BodyDefault1">
                <span>Canceled</span>
              </span>
              <span class="reservationspage-text46 BodyDefault1">
                <span>60 BAM</span>
              </span>
            </div>
          </div>
          <button class="reservationspage-cancelbutton2">
            <img
              src="/assets/playground_assets/framei236-y4z.svg"
              alt="FrameI236"
            />
          </button>
        </div>
        <div class="reservationspage-datarowdivider2">
          <img
            src="/assets/playground_assets/divider2363-y2h-200h.png"
            alt="divider2363"
            class="reservationspage-divider2"
          />
        </div>
        <div class="reservationspage-tablerow3">
          <div class="reservationspage-logo3">
            <img
              src="/assets/playground_assets/image252361-mfnl-200h.png"
              alt="image252361"
              class="reservationspage-image253"
            />
          </div>
          <div class="reservationspage-data3">
            <div class="reservationspage-datarowprimary3">
              <span class="reservationspage-text48 BodyDefault1">
                <span>1/6/2023</span>
              </span>
              <span class="reservationspage-text50 BodyDefault1">
                <span>15:00 PM - 16:30 PM</span>
              </span>
              <span class="reservationspage-text52 BodyDefault1">
                <span>Status</span>
              </span>
              <span class="reservationspage-text54 BodyDefault1">
                <span>Cost</span>
              </span>
            </div>
            <div class="reservationspage-datarowsecondary3">
              <span class="reservationspage-text56 BodyDefault1">
                <span>Vistafon</span>
              </span>
              <span class="reservationspage-text58 BodyDefault1">
                <span>value</span>
              </span>
              <span class="reservationspage-text60 BodyDefault1">
                <span>Reserved</span>
              </span>
              <span class="reservationspage-text62 BodyDefault1">
                <span>80 BAM</span>
              </span>
            </div>
          </div>
          <button class="reservationspage-cancelbutton3">
            <img
              src="/assets/playground_assets/framei236-14d.svg"
              alt="FrameI236"
            />
          </button>
        </div>
      </div>
    </div>
    <span class="reservationspage-text64"><span>Reservations</span></span>
    <div class="reservationspage-footer">
      <span class="reservationspage-text49 text-2xlleading-8fontMedium">
        <span>Copyright Sportify 2023</span>
      </span>
      <div class="reservationspage-frame10">
        <div class="reservationspage-frame100">
          <a routerLink="/homepage">
            <span class="reservationspage-text51 text-2xlleading-8fontMedium">Home</span>
          </a>
        </div>
        <div class="reservationspage-frame311">
          <span class="reservationspage-text53 text-2xlleading-8fontMedium">
            <a routerLink="/profilepage">Profile</a>
          </span>
        </div>
        <div class="reservationspage-frame55">
          <span class="reservationspage-text55 text-2xlleading-8fontMedium">
            <a routerLink="/reservationspage">Reservations</a>
          </span>
        </div>        
        <div class="reservationspage-frame6">
          <span class="reservationspage-text57 text-2xlleading-8fontMedium">
            <span>Feedback</span>
          </span>
        </div>
      </div>
    </div>
    <app-navbar></app-navbar>
  </div>
</div>
