:host { 
  display: contents; 
}
.footballfields-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.footballfields-footballfields {
  width: 100%;
  height: 2161px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}

.footballfields-fields {
  top: 253px;
  left: 297px;
  right:0px;
  height: 1005.8284912109375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.footballfields-rectangle49 {
  top: 101px;
  left: 0px;
  width: 280px;
  height: 1932px;
  position: absolute;
}
.footballfields-buttons1 {
  gap: 10px;
  top: 557px;
  left: 86px;
  width: 97px;
  display: flex;
  padding: 8px 32px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15000000596046448);
  align-items: flex-start;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 1);
}

.footballfields-buttons1:hover {
  background-color: #fc5574;
}
.footballfields-text41 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.footballfields-group10 {
  top: 454.8116455078125px;
  left: 32px;
  width: 216px;
  height: 78.40582275390625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footballfields-group7 {
  top: 43.83980941772461px;
  left: 0px;
  width: 216px;
  height: 34.566017150878906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footballfields-rectangle50 {
  top: 0px;
  left: 0px;
  width: 216px;
  height: 34px;
  position: absolute;
  border-radius: 20px;
}
.footballfields-text43 {
  top: 10.11688232421875px;
  left: 14.460250854492188px;
  color: rgba(0, 0, 0, 1);
  width: 80px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.footballfields-group6 {
  top: 0.8430633544921875px;
  left: 179.849365234375px;
  width: 36.15062713623047px;
  height: 33.72294616699219px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(252, 85, 116, 1);
  border-radius: 20px;
}
.footballfields-riarrowdownsfill {
  top: 6.7445526123046875px;
  left: 10.845195770263672px;
  width: 13.424415588378906px;
  height: 20.233766555786133px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.footballfields-group {
  top: 0px;
  left: 0px;
  width: 13.424415588378906px;
  height: 20.233766555786133px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footballfields-vector {
  top: 8.430736541748047px;
  left: 3.3561038970947266px;
  width: 7px;
  height: 5px;
  position: absolute;
}
.footballfields-text45 {
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.footballfields-group9 {
  top: 352.40582275390625px;
  left: 32px;
  width: 216px;
  height: 78.40582275390625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footballfields-group71 {
  top: 43.83980941772461px;
  left: 0px;
  width: 216px;
  height: 34.566017150878906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footballfields-rectangle501 {
  top: 0px;
  left: 0px;
  width: 216px;
  height: 34px;
  position: absolute;
  border-radius: 20px;
}
.footballfields-text47 {
  top: 10.11688232421875px;
  left: 14.460250854492188px;
  color: rgba(0, 0, 0, 1);
  width: 80px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.footballfields-group61 {
  top: 0.8430633544921875px;
  left: 179.849365234375px;
  width: 36.15062713623047px;
  height: 33.72294616699219px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(252, 85, 116, 1);
  border-radius: 20px;
}
.footballfields-riarrowdownsfill1 {
  top: 6.744544982910156px;
  left: 10.845195770263672px;
  width: 13.424415588378906px;
  height: 20.233766555786133px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.footballfields-vector1 {
  top: 8.430736541748047px;
  left: 3.3561038970947266px;
  width: 7px;
  height: 5px;
  position: absolute;
}
.footballfields-text49 {
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.footballfields-group72 {
  top: 160px;
  right:80px;
  width: 239px;
  height: 34.566017150878906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footballfields-rectangle502 {
  top: 0px;
  left: 0px;
  width: 239px;
  height: 34px;
  position: absolute;
  border-radius: 20px;
}
.footballfields-group62 {
  top: 0.8430595993995667px;
  left: 199px;
  width: 40px;
  height: 33.72294616699219px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(252, 85, 116, 1);
  border-radius: 20px;
}
.footballfields-riarrowdownsfill2 {
  top: 6.744544982910156px;
  left: 12px;
  width: 14.853867530822754px;
  height: 20.233766555786133px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.footballfields-group2 {
  top: 0px;
  left: 0px;
  width: 14.853867530822754px;
  height: 20.233766555786133px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footballfields-vector2 {
  top: 8.430736541748047px;
  left: 3.7134668827056885px;
  width: 7px;
  height: 5px;
  position: absolute;
}
.footballfields-text51 {
  top: 4px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.footballfields-group8 {
  top: 250px;
  left: 32px;
  width: 216px;
  height: 78.40582275390625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footballfields-group73 {
  top: 43.83980941772461px;
  left: 0px;
  width: 216px;
  height: 34.566017150878906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footballfields-rectangle503 {
  top: 0px;
  left: 0px;
  width: 216px;
  height: 34px;
  position: absolute;
  border-radius: 20px;
}
.footballfields-text53 {
  top: 10.11688232421875px;
  left: 14.460250854492188px;
  color: rgba(0, 0, 0, 1);
  width: 80px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.footballfields-group63 {
  top: 0.843px;
  left: 179.849px;
  width: 36.151px;
  height: 33.723px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(252, 85, 116, 1);
  border-radius: 20px;
  }
.footballfields-riarrowdownsfill3 {
  top: 6.744544982910156px;
  left: 10.845195770263672px;
  width: 14.853867530822754px;
  height: 20.233766555786133px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.footballfields-group3 {
  top: 0px;
  left: 0px;
  width: 14.853867530822754px;
  height: 20.233766555786133px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footballfields-vector3 {
  top: 8.430736541748047px;
  left: 3.7134668827056885px;
  width: 7px;
  height: 5px;
  position: absolute;
}
.footballfields-text55 {
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}

.footballfields-group11 {
  top: 1988px;
  right:80px;
  width: 132px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footballfields-text71 {
  color: var(--dl-color-default-primarycolor);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.footballfields-buttons2 {
  gap: 10px;
  top: 0px;
  left: 100px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  align-items: flex-start;
  border-radius: 20px;
  background-color: var(--dl-color-default-primarycolor);
  }
  
  .footballfields-buttons2:hover {
  background-color: #fc5574;
  }
.footballfields-frame {
  width: 16px;
  height: 16px;
}
.footballfields-text73 {
  top: 160px;
  left: 376px;
  color: var(--dl-color-default-primarycolor);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.footballfields-rectangle51 {
  top: 167px;
  left: 528px;
  width: 26px;
  height: 26px;
  position: absolute;
  border-radius: 20px;
}
.footballfields-riarrowdownsfill4 {
  top: 170px;
  left: 533px;
  width: 15px;
  height: 20.233766555786133px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.footballfields-group4 {
  top: 0px;
  left: 0px;
  width: 14.853867530822754px;
  height: 20.233766555786133px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footballfields-vector4 {
  top: 8.430736541748047px;
  left: 3.7134668827056885px;
  width: 7px;
  height: 5px;
  position: absolute;
}
.footballfields-text75 {
  top: 160px;
  left: 32px;
  color: var(--dl-color-default-primarycolor);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}