<div class="footballfields-container">
  <div class="footballfields-footballfields">
    <app-footer style="--footer-top: 2033px"></app-footer>
    <app-navbar
      style="
        --navbar-hometext-color: #ffff;
        --navbar-hometext-font: normal;
        --navbar-profiletext-color: #ffff;
        --navbar-profiletext-font: normal;
        --navbar-reservationstext-color: #ffff;
        --navbar-reservationstext-font: normal;
      "
    ></app-navbar>

    <div class="footballfields-fields">
      <a [routerLink]="'/fieldpage'">
        <app-fieldcard
          [imageAlt]="'image1914'"
          [imageSrc]="'/assets/playground_assets/image1914-94hq-200h.png'"
          [titlePrefix]="'FIS football field,'"
          [location]="'Sarajevo'"
          [price]="'60 BAM'"
          [description]="
            'Best place for after work football with friends and colleagues'
          "
          style="--fieldcard-top: 0px"
        ></app-fieldcard>
      </a>
      <app-fieldcard
        [imageAlt]="'image2423'"
        [imageSrc]="
          'https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/60455a17-43a4-4f91-a351-ec6a79cda369?org_if_sml=1415617'
        "
        [titlePrefix]="'Vistafon,'"
        [location]="'Sarajevo'"
        [price]="'35 BAM'"
        [description]="
          'Best place for after work football with friends and colleagues'
        "
        style="--fieldcard-top: 380px"
      ></app-fieldcard>
      <app-fieldcard
        [imageAlt]="'image2423'"
        [imageSrc]="
          'https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/5759d3b8-bb2c-4208-ad21-d7638fb8361f?org_if_sml=1569027'
        "
        [titlePrefix]="'MG MAS football field,'"
        [location]="'Sarajevo'"
        [price]="'55 BAM'"
        [description]="
          'Best place for after work football with friends and colleagues'
        "
        style="--fieldcard-top: 715px"
      ></app-fieldcard>
      <app-fieldcard
        [imageAlt]="'image2423'"
        [imageSrc]="
          'https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/efd8f09f-c847-49f2-a297-49451d76c94a?org_if_sml=1415617'
        "
        [titlePrefix]="'Bentbaša,'"
        [location]="'Sarajevo'"
        [price]="'35 BAM'"
        [description]="
          'Best place for after work football with friends and colleagues'
        "
        style="--fieldcard-top: 1050px"
      ></app-fieldcard>
      <app-fieldcard
        [imageAlt]="'image2423'"
        [imageSrc]="
          'https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/97709ac5-7368-4a80-8143-9039e14a4b52?org_if_sml=1571423'
        "
        [titlePrefix]="'RSC football field,'"
        [location]="'Sarajevo'"
        [price]="'55 BAM'"
        [description]="
          'Best place for after work football with friends and colleagues'
        "
        style="--fieldcard-top: 1400px"
      ></app-fieldcard>
    </div>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/4779fbfb-07e3-42a9-9649-bed7a9dab7b9?org_if_sml=15902"
      alt="Rectangle492015"
      class="footballfields-rectangle49"
    />
    <button class="footballfields-buttons1">
      <span class="footballfields-text41"><span>Apply</span></span>
    </button>
    <div class="footballfields-group10">
      <div class="footballfields-group7">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/e978d99e-f9ca-4539-a324-20a8eae3ea34?org_if_sml=1683"
          alt="Rectangle502015"
          class="footballfields-rectangle50"
        />
        <span class="footballfields-text43"><span>Location</span></span>
        <div class="footballfields-group6">
          <div class="footballfields-riarrowdownsfill">
            <div class="footballfields-group">
              <img
                src="/assets/playground_assets/vectori201-ne2n.svg"
                alt="VectorI201"
                class="footballfields-vector"
              />
            </div>
          </div>
        </div>
      </div>
      <span class="footballfields-text45"><span>Location</span></span>
    </div>
    <div class="footballfields-group9">
      <div class="footballfields-group71">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/0c27caaa-147d-4bd6-9df4-a3dafffcf1bf?org_if_sml=1697"
          alt="Rectangle502015"
          class="footballfields-rectangle501"
        />
        <span class="footballfields-text47"><span>City</span></span>
        <div class="footballfields-group61">
          <div class="footballfields-riarrowdownsfill1">
            <div class="footballfields-group1">
              <img
                src="/assets/playground_assets/vectori201-9989.svg"
                alt="VectorI201"
                class="footballfields-vector1"
              />
            </div>
          </div>
        </div>
      </div>
      <span class="footballfields-text49"><span>City</span></span>
    </div>
    <div class="footballfields-group72">
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/9d393b79-be2a-41ba-bc73-403a79881aa7?org_if_sml=1685"
        alt="Rectangle502017"
        class="footballfields-rectangle502"
      />
      <div class="footballfields-group62">
        <div class="footballfields-riarrowdownsfill2">
          <div class="footballfields-group2">
            <img
              src="/assets/playground_assets/vectori201-yfhd.svg"
              alt="VectorI201"
              class="footballfields-vector2"
            />
          </div>
        </div>
      </div>
      <span class="footballfields-text51"><span>Sort by</span></span>
    </div>
    <div class="footballfields-group8">
      <div class="footballfields-group73">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/5c2d29bd-35d5-42b2-b281-557ae4be7185?org_if_sml=1692"
          alt="Rectangle502015"
          class="footballfields-rectangle503"
        />
        <span class="footballfields-text53"><span>Price range</span></span>
        <div class="footballfields-group63">
          <div class="footballfields-riarrowdownsfill3">
            <div class="footballfields-group3">
              <img
                src="/assets/playground_assets/vector2015-dw9e.svg"
                alt="Vector2015"
                class="footballfields-vector3"
              />
            </div>
          </div>
        </div>
      </div>
      <span class="footballfields-text55"><span>Price range</span></span>
    </div>
    <div class="footballfields-group11">
      <span class="footballfields-text71"><span>Page 1</span></span>
      <button class="footballfields-buttons2">
        <img
          src="/assets/playground_assets/framei201-k6d.svg"
          alt="FrameI201"
          class="footballfields-frame"
        />
      </button>
    </div>
    <span class="footballfields-text73"><span>Football</span></span>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3a6242a6-6dbb-40a3-b5a1-5e88d5e2780b/9d0d0fcb-9151-4667-a395-71aec19329bc?org_if_sml=1478"
      alt="Rectangle512213"
      class="footballfields-rectangle51"
    />
    <div class="footballfields-riarrowdownsfill4">
      <div class="footballfields-group4">
        <img
          src="/assets/playground_assets/vectori221-1ssp.svg"
          alt="VectorI221"
          class="footballfields-vector4"
        />
      </div>
    </div>
    <span class="footballfields-text75"><span>Filters</span></span>
  </div>
</div>
