<div class="fieldpage-container">
  <div class="fieldpage-fieldpage">
    <div class="fieldpage-gallery">
      <button class="fieldpage-buttons1">
        <span class="fieldpage-text18"><span>Reserve</span></span>
      </button>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e79bac5a-6f58-48de-97cd-6a10dd4dde4e/c04f454a-02d1-4001-b8bb-991cf27715e9?org_if_sml=11195"
        alt="Rectangle582102"
        class="fieldpage-rectangle58"
      />
      <div class="fieldpage-group8">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e79bac5a-6f58-48de-97cd-6a10dd4dde4e/7bc06110-e9ce-438a-a76a-787728f7a7b3?org_if_sml=1685"
          alt="Rectangle502102"
          class="fieldpage-rectangle50"
        />
        <span class="fieldpage-text20"><span>Time</span></span>
        <div class="fieldpage-group6">
          <div class="fieldpage-riarrowdownsfill">
            <div class="fieldpage-group">
              <img
                src="/assets/playground_assets/vectori210-ro66.svg"
                alt="VectorI210"
                class="fieldpage-vector"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="fieldpage-group7">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e79bac5a-6f58-48de-97cd-6a10dd4dde4e/2f9befb4-fac3-4581-9723-1dbb83077cbc?org_if_sml=1685"
          alt="Rectangle502102"
          class="fieldpage-rectangle501"
        />
        <span class="fieldpage-text22"><span>Date</span></span>
        <div class="fieldpage-group61">
          <div class="fieldpage-riarrowdownsfill1">
            <div class="fieldpage-group1">
              <img
                src="/assets/playground_assets/vectori210-ffq.svg"
                alt="VectorI210"
                class="fieldpage-vector1"
              />
            </div>
          </div>
        </div>
      </div>
      <span class="fieldpage-text24"><span>60 BAM</span></span>
      <span class="fieldpage-text26"><span>per reservation</span></span>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e79bac5a-6f58-48de-97cd-6a10dd4dde4e/e00e1023-2193-4a67-8ea2-f9fc3a4cbb5c?org_if_sml=11195"
        alt="Rectangle692102"
        class="fieldpage-rectangle69"
      />
      <span class="fieldpage-text28">
        <span> FIS football field, Sarajevo </span>
      </span>
      <span class="fieldpage-text30">
        <span>
          Best place for after work football with friends and colleagues.
        </span>
      </span>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e79bac5a-6f58-48de-97cd-6a10dd4dde4e/d497e86f-73d3-4d7f-95ed-98f241e14e3a?org_if_sml=1621921"
        alt="image2101"
        class="fieldpage-image"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e79bac5a-6f58-48de-97cd-6a10dd4dde4e/3d374fa2-41fb-45d6-b255-6c4f03013e8a?org_if_sml=130764"
        alt="image2101"
        class="fieldpage-image1"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e79bac5a-6f58-48de-97cd-6a10dd4dde4e/4f74d6b3-7da3-41b0-b47f-b381f7234425?org_if_sml=130764"
        alt="image2101"
        class="fieldpage-image2"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e79bac5a-6f58-48de-97cd-6a10dd4dde4e/4a390809-3ebc-4a55-b59b-e7fb2d635d3e?org_if_sml=130764"
        alt="image2101"
        class="fieldpage-image3"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e79bac5a-6f58-48de-97cd-6a10dd4dde4e/4fbc4f75-8109-42b8-ba05-76716a6de7b6?org_if_sml=130764"
        alt="image2101"
        class="fieldpage-image4"
      />
      <span class="fieldpage-text32"><span>Football</span></span>
    </div>
    <span class="fieldpage-text34"><span>Reviews</span></span>
    <div class="comment-container">
      <app-comment style="--comment-top: 1003px"></app-comment>
      <app-comment style="--comment-top: 1003px"></app-comment>
      <app-comment style="--comment-top: 1003px"></app-comment>
    </div>
    <app-footer style="--footer-top: 1374px"></app-footer>
    <app-navbar
      style="
        --navbar-hometext-color: #ffff;
        --navbar-hometext-font: normal;
        --navbar-profiletext-color: #ffff;
        --navbar-profiletext-font: normal;
        --navbar-reservationstext-color: #ffff;
        --navbar-reservationstext-font: normal;
      "
    ></app-navbar>
  </div>
</div>
