:host {
  display: contents;
}
.fieldpage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.fieldpage-fieldpage {
  width: 100%;
  height: 1502px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.fieldpage-gallery {
  top: 98px;
  left: 0px;
  width: 100%;
  height: 778px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(229, 231, 235, 1);
}
.fieldpage-buttons1 {
  gap: 10px;
  display: flex;
  padding: 8px 32px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15000000596046448);
  align-items: flex-start;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 1);
}

.fieldpage-buttons1:hover {
  background-color: #fc5574;
}

.fieldpage-text18 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.fieldpage-group8 {
  top: 70px;
  left: 490;
  right: 20px;
  width: 240px;
  height: 34.566017150878906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.fieldpage-rectangle50 {
  top: 0px;
  left: 0px;
  width: 240px;
  height: 34px;
  position: absolute;
  border-radius: 20px;
}
.fieldpage-text20 {
  top: 10.11688232421875px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  width: 88px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.fieldpage-group6 {
  top: 0.8430595993995667px;
  right: 0px;
  width: 40px;
  height: 33.72294616699219px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(252, 85, 116, 1);
  border-radius: 20px;
}

.fieldpage-riarrowdownsfill {
  top: 6.744544982910156px;
  left: 12px;
  width: 14.853867530822754px;
  height: 20.233766555786133px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.fieldpage-group {
  top: 0px;
  left: 0px;
  width: 14.853867530822754px;
  height: 20.233766555786133px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.fieldpage-vector {
  top: 8.430736541748047px;
  left: 3.7134668827056885px;
  width: 7px;
  height: 5px;
  position: absolute;
}
.fieldpage-group7 {
  top: 24px;
  right: 20px;
  width: 240px;
  height: 34.566017150878906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.fieldpage-rectangle501 {
  top: 0px;
  left: 0px;
  width: 240px;
  height: 34px;
  position: absolute;
  border-radius: 20px;
}
.fieldpage-text22 {
  top: 10.11688232421875px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  width: 88px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.fieldpage-group61 {
  top: 0.8430595993995667px;
  right: 0px;
  width: 40px;
  height: 33.72294616699219px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(252, 85, 116, 1);
  border-radius: 20px;
}
.fieldpage-riarrowdownsfill1 {
  top: 6.744544982910156px;
  left: 12px;
  width: 14.853867530822754px;
  height: 20.233766555786133px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.fieldpage-group1 {
  top: 0px;
  left: 0px;
  width: 14.853867530822754px;
  height: 20.233766555786133px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.fieldpage-vector1 {
  top: 8.430736541748047px;
  left: 3.7134668827056885px;
  width: 7px;
  height: 5px;
  position: absolute;
}
.fieldpage-text24 {
  top: 24px;
  left: 32px;
  color: var(--dl-color-default-pink);
  width: 186px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.fieldpage-text26 {
  top: 64px;
  left: 32px;
  color: var(--dl-color-default-graydark);
  width: 186px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.fieldpage-rectangle69 {
  top: 404px;
  right: 80px;
  width: 650px;
  height: 128px;
  position: absolute;
  border-radius: 20px;
}
.fieldpage-text28 {
  color: var(--dl-color-default-primarycolor);
  width: 536px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.fieldpage-text30 {
  color: var(--dl-color-default-primarycolor);
  width: 517px;
  height: auto;
  position: relative;
  font-size: 16px;
  font-style: Light;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.fieldpage-image {
  top: 55px;
  left: 83px;
  width: 517px;
  height: 520px;
  position: absolute;
  flex-grow: 1;
  align-self: stretch;
  border-radius: 20px;
}
.fieldpage-image1 {
  top: 603px;
  left: 482px;
  width: 113px;
  height: 113px;
  position: absolute;
  flex-grow: 1;
  align-self: stretch;
  border-radius: 20px;
}
.fieldpage-image2 {
  top: 603px;
  left: 349px;
  width: 113px;
  height: 113px;
  position: absolute;
  flex-grow: 1;
  align-self: stretch;
  border-radius: 20px;
}
.fieldpage-image3 {
  top: 603px;
  left: 83px;
  width: 113px;
  height: 113px;
  position: absolute;
  flex-grow: 1;
  align-self: stretch;
  border-radius: 20px;
}
.fieldpage-image4 {
  top: 603px;
  left: 216px;
  width: 113px;
  height: 113px;
  position: absolute;
  flex-grow: 1;
  align-self: stretch;
  border-radius: 20px;
}
.fieldpage-text32 {
  color: var(--dl-color-default-primarycolor);
  width: 197px;
  height: auto;
  position: relative;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.fieldpage-text34 {
  top: 931px;
  left: 82px;
  color: var(--dl-color-default-primarycolor);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.comment-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 80px;
  right: 80px;
}
.description {
  top: 404px;
  right: 80px;
  left: 730px;
  display: flex;
  height: 128px;
  position: absolute;
  border-radius: 20px;
  padding: 10px 53px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: #ffff;
}
.date-time {
  top: 252px;
  right: 80px;
  left: 730px;
  display: flex;
  height: 128px;
  position: absolute;
  border-radius: 20px;
  padding: 10px 53px;
  flex-shrink: 0;
  background-color: #ffff;
}
.title {
  top: 112px;
  right: 80px;
  left: 730px;
  display: flex;
  justify-content: center;
  position: absolute;
}
.subtitle {
  top: 176px;
  right: 80px;
  left: 730px;
  display: flex;
  justify-content: center;
  position: absolute;
}
.button-center{
  position: absolute;
  justify-content: center;
  right: 80px;
  left: 730px;
  top: 570px;
  display: flex;

}
